{% include partials/header.html %}

  <!-- <div class="jumbotron"> -->
    <h1>
      <!-- {% if site.conference.main.logo.img %}
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-75 d-none d-md-inline" alt="{{ site.title }}" />
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-100 d-md-none" alt="{{ site.title }}" />
      {% elsif page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %} -->
      Meaning in Context: Pragmatic Communication in Humans and Machines
    </h1>
    <p class="lead">
      Workshop at <a href="https://neurips.cc/Conferences/2021">The 35th Conference on Neural Information Processing Systems (NeurIPS 2021)</a><br>
      Monday, December 13, 2021
    </p>
    <!-- {% if site.description != none %}
      <p class="lead">
        {{ site.description | markdownify | replace: '<p>', '<p class="lead">' }}
      </p>
    {% endif %} -->

    <hr class="my-4">

    {{ content }}

    <!-- {% if site.conference.main.links %}
      <div class="lead d-print-none">
      {% assign btn_default = 'btn btn-outline-primary btn-lg mt-2 ml-1' %}
      {% for link in site.conference.main.links %}

        {% if link.menu %}
          <div class="dropdown d-inline">
            <a class="{{ btn_default }} dropdown-toggle" href="#" role="button" id="main-dropdown{{ forloop.index0 }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ link.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="main-dropdown{{ forloop.index0 }}">
              {% assign parent_link = link %}
              {% for link in parent_link.menu %}
                {% assign link_styleclass = "dropdown-item" %}
                {% include partials/get_link.html %}
                {{ link_tag }}
                  {{ link.name }}
                </a>
              {% endfor %}
            </div>
          </div>

        {% elsif link.live %}
          {%- include partials/get_live_timestamps.html -%}

          {%- if link.name -%}
            {%- assign link_name = link.name -%}
          {%- else -%}
            {%- assign link_name =  site.data.lang[site.conference.lang].live.stream | default: "Live Stream" -%}
          {%- endif -%}

          {%- if link.name_inactive -%}
            <span class="live-hide {{ btn_default }} disabled" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
              {{ link.name_inactive }}
            </span>
          {%- endif -%}

          <span class="live-show d-none" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
            {% if site.conference.live.streaming %}
              <a class="{{ btn_default }}" title="{{ link_name }}" data-toggle="modal" data-target="#stream-modal" data-room="" href="#">
            {% else %}
              {% assign link_styleclass = "{{ btn_default }}" %}
              {% include partials/get_link.html %}
              {{ link_tag }}
            {% endif %}

              {{ link_name }}
            </a>
          </span>

        {% else %}
          {% assign link_styleclass = btn_default %}
          {% include partials/get_link.html %}
          {{ link_tag }}
            {{ link.name }}
          </a>
        {% endif %}
      {% endfor %}
      </p>
    {% endif %} -->

  <!-- </div> -->

  <hr class="my-4">

  <h2>Organizers</h2>
  <br>
  <div>
    {% assign number_printed = 0 %}
    {% for o in site.data.organizers %}

    {% assign even_odd = number_printed | modulo: 2 %}

    {% if even_odd == 0 %}
    <div class="row">
    {% endif %}

    <div class="col-sm-6 clearfix">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/headshots/organizers/{{ o.photo }}" 
      class="img-responsive" width="22%" style="float: left; border-radius: 50%; vertical-align:top; margin-right: 15px; border:1px solid #999999; margin-bottom: 5%;" />
      {% if o.www %}
      <p style="margin:0; "><a href="{{ o.www }}" style="font-weight:bold">{{ o.name }}</a></p>
      {% else %}
      <p style="margin:0; font-weight:bold">{{ o.name }}</p>
      {% endif %}
      <p style="font-size:0.8em;text-align:justify;text-justify:inter-word;">{{ o.blurb }}</p>
    </div>

    {% assign number_printed = number_printed | plus: 1 %}

    {% if even_odd == 1 %}
    </div>
    {% endif %}

    {% endfor %}

    {% assign even_odd = number_printed | modulo: 2 %}
    {% if even_odd == 1 %}
    </div>
    {% endif %}
  </div>

  <!-- <div>
    <p>The organizers can be reached at <a href="mailto:mic.workshop.2021@gmail.com">mic.workshop.2021@gmail.com</a>.</p>
  </div> -->

{% include partials/footer.html %}
