{% include partials/header.html %}

  <h1>
    Meaning in Context: Pragmatic Communication in Humans and Machines
  </h1>
  <p class="lead">
    Workshop at <a href="https://neurips.cc/Conferences/2021">The 35th Conference on Neural Information Processing Systems (NeurIPS 2021)</a><br>
    Monday, December 13, 2021
  </p>

  <hr class="my-4">
  
  {{ content }}

  <hr class="my-4">

  <h2>Organizers</h2>
  <br>
  <div>
    {% assign number_printed = 0 %}
    {% for o in site.data.organizers %}

    {% assign even_odd = number_printed | modulo: 2 %}

    {% if even_odd == 0 %}
    <div class="row">
    {% endif %}

    <div class="col-sm-6 clearfix">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/headshots/organizers/{{ o.photo }}" 
      class="img-responsive" width="22%" style="float: left; border-radius: 50%; vertical-align:top; margin-right: 15px; border:1px solid #999999; margin-bottom: 5%;" />
      {% if o.www %}
      <p style="margin:0; "><a href="{{ o.www }}" style="font-weight:bold">{{ o.name }}</a></p>
      {% else %}
      <p style="margin:0; font-weight:bold">{{ o.name }}</p>
      {% endif %}
      <p style="font-size:0.8em;text-align:justify;text-justify:inter-word;">{{ o.blurb }}</p>
    </div>

    {% assign number_printed = number_printed | plus: 1 %}

    {% if even_odd == 1 %}
    </div>
    {% endif %}

    {% endfor %}

    {% assign even_odd = number_printed | modulo: 2 %}
    {% if even_odd == 1 %}
    </div>
    {% endif %}
  </div>

  <!-- <div>
    <p>The organizers can be reached at <a href="mailto:mic.workshop.2021@gmail.com">mic.workshop.2021@gmail.com</a>.</p>
  </div> -->

{% include partials/footer.html %}
